@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/* Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(255, 255, 255);
  font-family: 'Quicksand';
  font-weight: 400;
  color:rgb(14, 14, 14);
  font-weight: 300;
  font-size: 15px;
}

h1,
h2,
h3 {
  font-family: 'Lexend';
  font-weight: normal;
  padding: .2em 0;
}

p {
  margin: 1.8em 0;
  line-height: 1.8em;
  font-size: 1.2em;
}

h1 {font-size: 2.5em;}

h2 {font-size:2.0em;}

h3 {font-size: 1.5em;}


header,
main,
footer {
  padding: 1.5em;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}


a{
  color: rgb(0, 0, 0);
  background-color: #BFB1C1;
  padding: 8px 8px;      
  border-radius: 4px;      
  display: inline-block;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-decoration: none;
}

nav a:hover {
      background-color: #645153;
      color: #ffffff;
}

nav {
  padding: 1.5em;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;     
  height: 70px;            
  padding: 0 10px;
}

header,
footer {
  text-align: center;
}

li {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.container {
grid-template-columns:
   1fr;
grid-template-areas:
  "heady"
  "navvy"
  "mainy"
  "footy";
}

header {grid-area: heady; background:#76ACAC;}
nav {grid-area: navvy; background:#fdfdfd;}
main {grid-area: mainy; background: white; max-height: 100%}
footer {grid-area: footy; background: #76ACAC;}


nav ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;     
  justify-content: right;
  gap: 10px;
  margin: 0;
  padding: 0;
  
}

nav ul li {
  list-style: none
}


@media screen and (min-width: 620px) {
.container {
grid-template-columns:
   1fr 1fr;
grid-template-areas:
  "heady heady"
  "navvy navvy"
  "mainy mainy"
  "footy footy";
}


nav ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;     
  justify-content: right;
  gap: 20px;
  margin: 0;
  padding: 0;
  
}


nav ul li {
  list-style: none
}
}

@media screen and (min-width: 1200px)  {
.container {
  margin: 0 auto;
  background: rgb(255, 255, 255);
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns:
   1fr       2.5fr       1fr;
  grid-template-areas:
  "heady     heady     heady"
  "navvy     navvy     navvy"
  "mainy     mainy     mainy"
  "footy     footy     footy";
}

}